<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body style="font-family:Roboto">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Vtrious", "Home", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:#1ABBC6" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:right">
                    <li>@Html.ActionLink("Features", "Home", "Home")</li>
                    <li>@Html.ActionLink("Pricing", "Home", "Home")</li>
                    <li>@Html.ActionLink("Sign in", "Login", "Login", new { area = "" }, new { Style = "color:#71A89E" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

